<%= render "shared/header" %>

<%# 「いいね」した商品の一覧 %>
<div class='item-contents'>
  <h2 class='title'>「いいね」した商品</h2>
  <ul class='item-lists'>

    <%# 商品のインスタンス変数になにか入っている場合、すべてを展開 %>
    <% @user.liked_items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" %>

            <%# 商品が売れていればsold outを表示しましょう %>
            <% if item.order %>
              <div class='sold-out'>
                <span>Sold Out</span>
              </div>
            <% end %>
            <%# //商品が売れていればsold outを表示しましょう %>

          </div>
          <div class='item-info'>
            <h3 class='item-name edit-link'>
              <%= item.name %>
            </h3>
            <div class='item-price edit-link'>
              <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count edit-link'><%= Like.where(item_id: item.id).count %></span>
              <%= image_tag "comment2.png", class:"comment-icon" %>
              <span class='comment-count edit-link'><%= Comment.where(item_id: item.id).count %></span>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
    <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

    <%# 商品がない場合のダミー %>
    <% unless @user.liked_items.exists?%>
      <li class='list'>
        <%= link_to '#' do %>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
          <div class='search-item-nil'>
            <h3 class='item-name'>
              <p>まだ「いいね」した商品がありません</p>
            </h3>
          </div>
        <% end %>
      </li>
    <% end %>
    <%# //商品がある場合は表示されないようにしましょう %>
      
  </ul>
</div>
<%# /「いいね」した商品の一覧 %>

<%# マイページ情報 %>
<div class="item-show">
  <div class="item-box">  

    <%# アカウント情報 %>
    <div class="item-explain-box">
      <span><%= "アカウント情報" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">氏名</th>
          <td class="detail-value"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="detail-item">ユーザー名</th>
          <td class="detail-value"><%= @user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">Email</th>
          <td class="detail-value"><%= @user.email %></td>
        </tr>
        <tr>
          <th class="detail-item">パスワード</th>
          <td class="detail-value"><%= "********" %></td>
        </tr>
      </tbody>
    </table>

    <%# マイページアクション %>  
    <%= link_to 'アカウントの編集', edit_user_path(current_user), class: "item-red-btn" %>
    
    <%# カード登録済の場合%>
    <% if @user.card %>
      <%# カード情報 %>
    <div class="item-explain-box">
      <span><%= "カード情報" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">カード番号</th>
          <td class="detail-value"><%= "**** **** **** " + @card[:last4] %></td>
        </tr>
        <tr>
          <th class="detail-item">有効期限</th>
          <td class="detail-value"><%= "#{@card[:exp_month]} / #{@card[:exp_year]}" %></td>
        </tr>
      </tbody>
    </table>
      <%# カード削除 %>
      <%= link_to 'カードの登録を解除', user_card_path(@user.card.id), method: :delete, class:"item-red-btn" %>
    <%# カード未登録の場合%>
    <% else %>
      <%= link_to 'カード情報の登録', new_user_card_path(current_user) ,class:"item-red-btn"%>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>