<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <%= form_with url: search_items_path, method: :get, local: true do |f| %>
      <div class="search-form">
        <%= f.text_area :keyword, placeholder: '商品名を検索する',　class: 'input-box' %>
        <%= f.submit "さがす", class: "search-button" %>
      </div>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li class ="category-list" id="category">カテゴリー</li>
    </ul>
    <ul class='lists-right'>
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
      <% if user_signed_in? %>
        <li class="user-nickname"><%= "#{current_user.nickname}さん" %></li>
        <li><%= link_to "マイページ", user_path(current_user.id), class: "user-nickname" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
    </ul>
  </div>
  <%# カテゴリーリスト%>
   <ul class="category-show-lists hidden" id="pull-down">
      <li class="pull-down-list">
        <%= link_to '家具・雑貨', id2_categories_path, class: "category-name" %>
      </li>
      <li class="pull-down-list">
        <%= link_to 'アクセサリー', id3_categories_path, class: "category-name" %>
      </li>
      <li class="pull-down-list">
        <%= link_to '服・ファッション', id4_categories_path, class: "category-name" %>
      </li>
      <li class="pull-down-list">
        <%= link_to 'デザインマスク', id5_categories_path, class: "category-name" %>
      </li>
      <li class="pull-down-list">
        <%= link_to 'バッグ・財布・ポシェット', id6_categories_path, class: "category-name" %>
      </li>
      <li class="pull-down-list">
        <%= link_to 'ニット・編み物', id7_categories_path, class: "category-name" %>
      </li>
      <li class="pull-down-list">
        <%= link_to 'ぬいぐるみ・おもちゃ', id8_categories_path, class: "category-name" %>
      </li>
      <li class="pull-down-list">
        <%= link_to 'アート', id9_categories_path, class: "category-name" %>
      </li>
      <li class="pull-down-list">
        <%= link_to 'その他', id10_categories_path, class: "category-name" %>
      </li>
    </ul>
    <%# // カテゴリーリスト%>
</header>