<%= render "shared/header" %>

<div class="item-show">
  <%# 商品の概要 %>
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content-show'>
      <%= image_tag @item.image ,class:"item-box-img" %>
      <%# 商品が売れていればsold out表示 %>
      <% if @item.order %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <% end %>
      <%# //商商品が売れていればsold out表示 %>
    </div>

    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @item.price.to_s(:delimited) %>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>

    <%# ログインユーザー = 出品ユーザー の場合の処理 %>
    <% if current_user == @item.user && !@item.order%>
      <%= link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
      <%= link_to '出品を削除', "/items/#{@item.id}", method: :delete, class:'item-destroy' %>
    <% end %>
    <%# // ログインユーザー = 出品ユーザー の場合の処理 %>

    <%# 商品が売れていない場合の処理 %>
    <% if user_signed_in? && current_user != @item.user && !@item.order %>
      <%= link_to '購入画面に進む', item_orders_path(@item.id) ,class: "item-red-btn" %>
      <div class="no-card-mypage">
        ※カード未登録の方は<%= link_to 'マイページ', user_path(current_user.id), class: "edit-link-red"%>に遷移します
      </div>
    <% end %>
    <% unless user_signed_in? %>
      <%= link_to 'まだユーザー登録していない方はこちら', new_user_registration_path %>
    <% end %>
    <%# //商品が売れていない場合の処理  %>
    
    <div class="item-explain-box">
      <div class="item-explain-text">
        【Information】
      </div>
      <%= @item.info %>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.from.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.day.name %></td>
        </tr>
      </tbody>
    </table>

    <%# いいねボタン %>
    <%= render 'like', { item: @item } %>
    <%# /いいねボタン %>
    
  </div>
  <%# /商品の概要 %>

  <%# コメント %>
  <div class="comment-box">

    <%# ログインユーザーと非ログインユーザーの処理区別 %>
    <% if user_signed_in? %>
      <%= form_with model: @comment, url: item_comments_path(@item.id), local: true do |f| %>
        <%= f.text_area :message, class:"comment-text", id:"comment-text", placeholder:"コメント（140文字まで)", maxlength:"140" %>
        <button type="submit" class="comment-btn">
          <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
          <span>コメントする<span>
        </button>
      <% end %>
    <% else %>
      <div class="non-user-comment">
        <span><%= link_to 'ユーザー登録', new_user_registration_path %>をしてコメントを書こう！</span>
      </div>
    <% end %>
    <%# // ログインユーザーと非ログインユーザーの処理区別 %>

    <div class="comment-second-box">
      <% @comments.each do |comment| %>
        <div class="comment-content">
          <div class="comment-message">
            <span><%= comment.message %></span>
          </div>
          <div class="comment-detail">
            <div class="comment-user-box">
              <div class="comment-user-type">
                <% if @item.user == comment.user %>
                  <span class="seller">出品者</span>
                <% else %>
                  <span class="buyer">投稿者</span>
                <% end %>
              </div>
              <div class="comment-user-name">
                <span><%= comment.user.nickname %></span>
              </div>
            </div>
            <div class="comment-date-title">
              <span>投稿日時</span>
            </div>
            <div class="comment-date">
              <span><%= l comment.created_at %></span>
            </div>
          </div>
          <% if comment.user == current_user %>
            <div class="comment-delete">
              <%= link_to 'コメントを削除', "/items/#{@item.id}/comments/#{comment.id}", method: :delete,  class: "delete-btn" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%# // コメント %>

  <%# 前後商品リンク %>
  <div class="links">
    <% if @item.previous.present?%>
      <%= link_to item_path(@item.previous), class: "link" do %>
        <p class="change-item-btn">Before</p>
        <%= image_tag @item.previous.image, class: "change-item-img" %>
        <p class="change-item-btn"><%= @item.previous.name if @item.previous.name.length <= 15  %></p>
        <p class="change-item-btn"><%= @item.previous.name.slice(0..14) + "…" if @item.previous.name.length >= 16  %></p>
      <% end %>
    <% end %>
    <% if @item.next.present?%>
      <%= link_to item_path(@item.next), class: "link" do %>
        <p class="change-item-btn">Next</p>
        <%= image_tag @item.next.image ,class:"change-item-img" %>
        <p class="change-item-btn"><%= @item.next.name if @item.next.name.length <= 15  %></p>
        <p class="change-item-btn"><%= @item.next.name.slice(0..14) + "…" if @item.next.name.length >= 16 %></p>
      <% end %>
    <% end %>
  </div>
  <%# // 前後商品リンク %>

  <%# 同一カテゴリーのサジェスト%>
    <%= link_to ">> #{@item.category.name}をもっと見る", "/categories/id#{@item.category_id}", class: "another-item"%>
  <%# // 同一カテゴリーのサジェスト%>
  
</div>

<%= render "shared/footer" %>
